*{
  box-sizing: border-box;
  text-decoration: none;
}
.wrapper {
  padding: 0;
}

/* Basic Styles */

.hero-image {
  background-image: url("../img/beach.jpeg");
  height: 50%;
  margin-bottom: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 90px;
  text-align: center;
}

h2 {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
}

h3 {
  line-height: 30px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
  width: 100%;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.sub-title {
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
  color: #41837E;
}

p {
  font-family: font-family:'Lato', sans-serif;
  line-height: 30px;
  margin: 0 auto;
  width: 50%;
  font-size: 18px;
  font-weight: lighter;
}

.drop-cap::first-letter{
  font-size: 102px;
  float: left;
  padding-top: 30px;
  border: 1px solid white;
}

/*Navigation Style*/

#main-nav {
  margin-top: 0;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  background-color: #0D4E49;
}
#main-nav a{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  list-style-type: none;
  padding: 20px 70px;
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
}

#main-nav a:hover{
  color: #D1686D;
}

footer {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  padding-top: 30px;

}

/*Zoom Style for Navigation Links*/

.zoom {
  transition: transform .2s;
}

.zoom a:hover {
  transform: scale(1.2);
}

/* Media Queries */

@media screen and (max-width: 790px) {

  h1 {
    font-size: 48px;
    display: flex;
    justify-content: center;
  }

  #main-nav {
    display: flex;
    flex-direction: column;
  }

  #main-nav a{
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .paragraph {
    margin-bottom: 55px;
  }
}

@-ms-viewport{
  width: device-width;
}
